*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(106, 104, 104);
}
h1{
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 5px white;
    color: whitesmoke;
}
.navBar{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 20px;
}
.navBar li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    
}